.container
  - if Accountability::Configuration.dev_tools_enabled?
    = render partial: 'accountability/shared/session_info'

  - if admin_session?
    = link_to 'Back', accountability_accounts_path, class: 'btn btn-outline-primary float-right'

  %h1 Billing Info
  %h4.mb-5= @account.billable_record_name

  .row
    .col-md-6
      .card
        .card-header
          Account Balance
        .card-body
          .text-primary= @account.balance

    .col-md-6
      .card
        .card-header
          Payment History
        .card-body
          .text-secondary Coming Soon
