.card.mb-5
  .card-header
    Session Info
  .row.no-gutters
    .col-md-6
      .card-body.pb-1
        %p
          %strong.text-primary Billable Record:
          = current_account&.billable_record_name

        %p
          %strong.text-primary Admin Session:
          = admin_session? ? 'Yes' : 'No'

    .col-md-6
      .card-body.pb-1

        %p
          %strong.text-primary OrderGroup ID:
          = current_order_group&.id

        %p
          %strong.text-primary Account ID:
          = current_account&.id
