<!DOCTYPE html>

<html>
<head>
  <title>Accountability</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "accountability/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
